Source: ros-rolling-camera-ros
Section: misc
Priority: optional
Maintainer: Christian Rauch <Rauch.Christian@gmx.de>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-clang-format <!nocheck>, ros-rolling-ament-cmake-cppcheck <!nocheck>, ros-rolling-ament-cmake-flake8 <!nocheck>, ros-rolling-ament-cmake-lint-cmake <!nocheck>, ros-rolling-ament-cmake-mypy <!nocheck>, ros-rolling-ament-cmake-pep257 <!nocheck>, ros-rolling-ament-cmake-pyflakes <!nocheck>, ros-rolling-ament-cmake-xmllint <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-camera-info-manager, ros-rolling-cv-bridge, ros-rolling-libcamera (>= 0.1), ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-camera-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ament-index-python, ros-rolling-camera-info-manager, ros-rolling-cv-bridge, ros-rolling-image-view, ros-rolling-libcamera (>= 0.1), ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-ros2launch, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: node for libcamera supported cameras (V4L2, Raspberry Pi Camera Modules)
